.footer {
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content: space-between;
}

.footer-item {
  background-color: #5cb85c;
  height:40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
